body {
	background: #fff url("img/back1.png");
}

h2 {
	font-size: 20px;
	margin: 15px 0 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ccc;
}

.second {
	background: #fff url("img/back2.png");
}

.third {
	background: #fff url("img/back3.png");
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: 800px;
}

#content {
	font-family: monospace;
	padding: 5px 15px;
	width: 580px;
	border: 1px solid #000;
	float: right;
	position: relative;
	left: -1px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-sizing: border-box;
	background-color: #eee;
	margin-bottom:25px;
}

#menu {
	width: 220px;
	position: relative;
	box-sizing: border-box;
	background-color: #ccc;
	z-index: 2;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	border: none;
}

 
#menu ul li {
	font: 200 20px monospace;
	height: 32px;
	line-height: 32px;
	
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu ul li:first-child {
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
}

#menu ul li:last-child {
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border: none;
}

#menu ul li:first-child a {
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
}

#menu ul li:last-child a {
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#menu li a {
	padding-left:40px;
	text-decoration: none;
	border-right: 1px solid black;
	color: #000;
	display: block;
}

#menu li #main {
	background: url("img/p_main.png") no-repeat left center;
}

#menu li #second {
	background: url("img/p_second.png") no-repeat left center;
}

#menu li #third {
	background: url("img/p_third.png") no-repeat left center;
}

#menu li #usage {
	background: url("img/p_usage.png") no-repeat left center;
}

#menu li a:hover:visited {
	background-color: #eee !important;
}

#menu li a:hover {
	background-color: #eee !important;
}

#menu li .selected {
	height: 30px;
	line-height: 30px;
	border-right: none;
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #eee !important;
	background-position-x: -1px !important;
}

#menu li .selected_top {
	-webkit-border-top-left-radius: 10px;
	-moz-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
}

#menu li .selected_bottom {
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

#header {
	font-family: "Trebuchet MS", Tahoma, Verdana, Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	font-size: 2.3em;
	font-weight: normal;
	color: #333;
	text-align: center;
	letter-spacing: -1px;
	padding:40px;
}

#header a {
	text-decoration: none;
	color: #099;
}

#header a span {
	color: #ccc;
}

#footer {
	font-family: monospace;
	font-size: 8px;
	margin-top: 5px;
	margin-left: 5px;
}

#footer a {
	text-decoration: none;
	color: #099;
}

.blurred {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
